In [15]:
import pandas as pd
import numpy as np
import joblib 

kmeans_model = joblib.load("models/kmeans/kmeans_model_강원도.joblib")

/opt/homebrew/anaconda3/envs/streamlit/lib/python3.9/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator KMeans from version 1.3.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [16]:
weather = pd.read_csv("region_data_2/0729_pm_filed_강원도.csv")

weather.head()

   Solar_Power(MWh)   일사   일조    습도  지면온도      시정   기온     중하층운량   풍속
0               0.0  0.0  0.0  76.0  -0.1  1654.0 -2.7  3.052664  4.5
1               0.0  0.0  0.0  77.0  -0.1  1542.0 -2.8  2.636993  7.6
2               0.0  0.0  0.0  79.0  -0.1  1447.0 -3.0  3.861008  4.8
3               0.0  0.0  0.0  81.0  -0.2  1302.0 -3.5  4.213803  6.4
4               0.0  0.0  0.0  81.0  -0.2  1310.0 -3.4  4.210365  3.9

In [17]:
df = pd.read_csv("pivot_format_df.csv")
df = df.drop(df.index[-1])
len(df)

53999

In [18]:
weather['시간'] = df['시간']

In [19]:
from datetime import datetime, timedelta
def convert_date_format(date_str):
    # 날짜와 시간을 분리
    date_part, time_part = date_str.split(' ')
    hour, minute, second = time_part.split(':')
    
    # 24시인 경우 처리
    if hour == '24':
        hour = '00'
        # 날짜를 하루 증가시킴
        date_obj = datetime.strptime(date_part, "%Y-%m-%d") + timedelta(days=1)
        date_part = date_obj.strftime("%Y-%m-%d")
    
    # 변환된 시간 문자열을 반환
    return f"{date_part} {hour}:{minute}:{second}"

In [20]:
weather['시간'].apply(convert_date_format)

0        2017-01-01 01:00:00
1        2017-01-01 02:00:00
2        2017-01-01 03:00:00
3        2017-01-01 04:00:00
4        2017-01-01 05:00:00
                ...
53994    2023-02-28 19:00:00
53995    2023-02-28 20:00:00
53996    2023-02-28 21:00:00
53997    2023-02-28 22:00:00
53998    2023-02-28 23:00:00
Name: 시간, Length: 53999, dtype: object

In [21]:
weather.head()

,Solar_Power(MWh),일사,일조,습도,지면온도,시정,기온,중하층운량,풍속,시간
0,0.0,0.0,0.0,76.0,-0.1,1654.0,-2.7,3.052664,4.5,2017-01-01 01:00:00
1,0.0,0.0,0.0,77.0,-0.1,1542.0,-2.8,2.636993,7.6,2017-01-01 02:00:00
2,0.0,0.0,0.0,79.0,-0.1,1447.0,-3.0,3.861008,4.8,2017-01-01 03:00:00
3,0.0,0.0,0.0,81.0,-0.2,1302.0,-3.5,4.213803,6.4,2017-01-01 04:00:00
4,0.0,0.0,0.0,81.0,-0.2,1310.0,-3.4,4.210365,3.9,2017-01-01 05:00:00

In [22]:
from sklearn.preprocessing import RobustScaler

In [23]:
optimal_clusters =4

scaler = RobustScaler()
data_scaled = scaler.fit_transform(weather.drop(columns=['시간']))

In [24]:
weather.head()

,Solar_Power(MWh),일사,일조,습도,지면온도,시정,기온,중하층운량,풍속,시간
0,0.0,0.0,0.0,76.0,-0.1,1654.0,-2.7,3.052664,4.5,2017-01-01 01:00:00
1,0.0,0.0,0.0,77.0,-0.1,1542.0,-2.8,2.636993,7.6,2017-01-01 02:00:00
2,0.0,0.0,0.0,79.0,-0.1,1447.0,-3.0,3.861008,4.8,2017-01-01 03:00:00
3,0.0,0.0,0.0,81.0,-0.2,1302.0,-3.5,4.213803,6.4,2017-01-01 04:00:00
4,0.0,0.0,0.0,81.0,-0.2,1310.0,-3.4,4.210365,3.9,2017-01-01 05:00:00

In [25]:
weather['cluster'] = kmeans_model.predict(data_scaled)
weather.head()

,Solar_Power(MWh),일사,일조,습도,지면온도,시정,기온,중하층운량,풍속,시간,cluster
0,0.0,0.0,0.0,76.0,-0.1,1654.0,-2.7,3.052664,4.5,2017-01-01 01:00:00,1
1,0.0,0.0,0.0,77.0,-0.1,1542.0,-2.8,2.636993,7.6,2017-01-01 02:00:00,1
2,0.0,0.0,0.0,79.0,-0.1,1447.0,-3.0,3.861008,4.8,2017-01-01 03:00:00,1
3,0.0,0.0,0.0,81.0,-0.2,1302.0,-3.5,4.213803,6.4,2017-01-01 04:00:00,1
4,0.0,0.0,0.0,81.0,-0.2,1310.0,-3.4,4.210365,3.9,2017-01-01 05:00:00,1

In [26]:
lightbgm_model = joblib.load(f"models/lightgbm/lightgbm_cluster_0_강원도.joblib")

In [27]:
weather_0 = weather[weather['cluster'] == 0].reset_index(drop=True)
weather_0.head()

,Solar_Power(MWh),일사,일조,습도,지면온도,시정,기온,중하층운량,풍속,시간,cluster
0,17.71,1.31,1.0,60.0,-0.1,1719.0,-0.5,1.399738,5.0,2017-01-01 11:00:00,0
1,21.83,1.49,1.0,64.0,0.0,1458.0,-0.1,1.897449,5.7,2017-01-01 12:00:00,0
2,27.55,1.36,1.0,67.0,0.0,1357.0,0.2,1.755519,6.4,2017-01-01 13:00:00,0
3,34.04,1.58,1.0,66.0,0.0,1362.0,0.7,1.929799,6.8,2017-01-01 14:00:00,0
4,22.04,1.43,1.0,64.0,0.0,1402.0,1.4,1.594466,7.6,2017-01-01 15:00:00,0

In [29]:
weather_0.columns

Index(['Solar_Power(MWh)', '일사', '일조', '습도', '지면온도', '시정', '기온', '중하층운량', '풍속',
       '시간', 'cluster'],
      dtype='object')

In [30]:
scaler = RobustScaler()
x_lightgbm = weather_0.drop(columns=['Solar_Power(MWh)', '시간'])

scaler_X = RobustScaler()

x_lightgbm = scaler_X.fit_transform(x_lightgbm)

lightbgm_model.predict(x_lightgbm)

ValueError: Number of features of the model must match the input. Model n_features_ is 10 and input n_features is 9