In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
data = pd.read_csv('경상남도.csv')
data['datetime'] = data['Date'].astype(str) + '-' + data['Time'].astype(str)
data['code'] = 'KSN'

In [6]:
data = pd.read_csv('경상남도.csv')
# 'date' 열을 datetime 객체로 변환
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')

df = {
    'Date':[],
    'Solar_Power(MWh)':[]
}

def sum(date):
    for date.year in date:
        if date.year == ""

In [10]:
import pandas as pd
from datetime import datetime

# 데이터 로드
data = pd.read_csv('경상남도1.csv')

# 'datetime' 열을 datetime 객체로 변환
def convert_to_datetime(timestamp_str):
    # 시간 부분이 24인 경우 00으로 변경하여 처리
    if timestamp_str.endswith('-24'):
        timestamp_str = timestamp_str[:-3] + '-00'
        dt = datetime.strptime(timestamp_str, '%Y-%m-%d-%H') + pd.Timedelta(days=1)
    else:
        dt = datetime.strptime(timestamp_str, '%Y-%m-%d-%H')
    return dt

data['datetime'] = data['datetime'].apply(convert_to_datetime)

# 인덱스를 'datetime'으로 설정
data.set_index('datetime', inplace=True)

# 월별 발전량 합계 계산
monthly_data = data.resample('M').sum()

# 결과 확인
monthly_data.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_13632\2032063009.py:23: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = data.resample('M').sum()

,Unnamed: 0,Date,Time,Solar_Power(MWh),code
datetime,,,,,
2017-01-31,275653,2017-01-012017-01-012017-01-012017-01-012017-0...,9276,11605.42,KSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNK...
2017-02-28,724752,2017-01-312017-02-012017-02-012017-02-012017-0...,8400,13670.82,KSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNK...
2017-03-31,1329156,2017-02-282017-03-012017-03-012017-03-012017-0...,9300,16065.68,KSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNK...
2017-04-30,1813320,2017-03-312017-04-012017-04-012017-04-012017-0...,9000,17565.80,KSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNK...
2017-05-31,2418372,2017-04-302017-05-012017-05-012017-05-012017-0...,9300,19500.76,KSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNKSNK...

In [12]:
monthly_data['code'] = 'KSN'
monthly_data['datetime'] = datetime.strptime(monthly_data['datetime'], '%Y-%m')
monthly_data.head()

KeyError: 'datetime'

In [11]:
monthly_data.to_csv("경상남도월별.csv")

In [5]:
data.head()

   Unnamed: 0        Date  Time  Solar_Power(MWh)      datetime code
0           0  2017-01-01     1               NaN  2017-01-01-1  KSN
1           1  2017-01-01     2               NaN  2017-01-01-2  KSN
2           2  2017-01-01     3               NaN  2017-01-01-3  KSN
3           3  2017-01-01     4               NaN  2017-01-01-4  KSN
4           4  2017-01-01     5               NaN  2017-01-01-5  KSN

In [8]:
data.to_csv("/Users/admin/OneDrive/Desktop/새 폴더/data/경상남도1.csv", index=False)