In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('경상남도.csv')
data['datetime'] = data['Date'].astype(str) + '-' + data['Time'].astype(str)
data['code'] = 'KSN'

In [5]:
data.head()

   Unnamed: 0        Date  Time  Solar_Power(MWh)      datetime code
0           0  2017-01-01     1               NaN  2017-01-01-1  KSN
1           1  2017-01-01     2               NaN  2017-01-01-2  KSN
2           2  2017-01-01     3               NaN  2017-01-01-3  KSN
3           3  2017-01-01     4               NaN  2017-01-01-4  KSN
4           4  2017-01-01     5               NaN  2017-01-01-5  KSN

In [8]:
data.to_csv("/Users/admin/OneDrive/Desktop/새 폴더/data/경상남도1.csv", index=False)