In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [9]:
data = pd.read_csv('광주시.csv')
data['datetime'] = data['Date'].astype(str) + '-' + data['Time'].astype(str)
# monthly_data = data.resample('M')
# monthly_data.head()
data.to_csv("/Users/admin/OneDrive/Desktop/협업/streamlit/data/광주시.csv", index=False)

In [26]:
import pandas as pd
from datetime import datetime

# 데이터 로드
data = pd.read_csv('광주시.csv')

# datetime YYYY-MM-DD-HH 만들기
# data['datetime'] = data['Date'].astype(str) + '-' + data['Time'].astype(str)

# 'datetime' 열을 datetime 객체로 변환
def convert_to_datetime(timestamp_str):
    # 시간 부분이 24인 경우 00으로 변경하여 처리
    if timestamp_str.endswith('-24'):
        timestamp_str = timestamp_str[:-3] + '-00'
        dt = datetime.strptime(timestamp_str, '%Y-%m-%d-%H') + pd.Timedelta(days=1)
    else:
        dt = datetime.strptime(timestamp_str, '%Y-%m-%d-%H')
    return dt

data['datetime'] = data['datetime'].apply(convert_to_datetime)

# 인덱스를 'datetime'으로 설정
data.set_index('datetime', inplace=True)

# 월별 발전량 합계 계산
monthly_data = data.resample('M').sum()

#필요한 열만 뽑고 datetime YYYY-MM으로 변경
trash = monthly_data.columns[0:3]
monthly_data = monthly_data.drop(columns=trash)
monthly_data.index = pd.to_datetime(monthly_data.index).to_period('M')

monthly_data['code'] = 'KWJ'

# 결과 확인
monthly_data.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_18972\4092198360.py:26: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = data.resample('M').sum()

          Solar_Power(MWh) code
datetime
2017-01            2347.51  KWJ
2017-02            2858.62  KWJ
2017-03            3765.89  KWJ
2017-04            4126.82  KWJ
2017-05            4523.61  KWJ

In [27]:
monthly_data.to_csv("광주시정리.csv")

   Unnamed: 0        Date  Time  Solar_Power(MWh)      datetime code
0           0  2017-01-01     1               NaN  2017-01-01-1  KSN
1           1  2017-01-01     2               NaN  2017-01-01-2  KSN
2           2  2017-01-01     3               NaN  2017-01-01-3  KSN
3           3  2017-01-01     4               NaN  2017-01-01-4  KSN
4           4  2017-01-01     5               NaN  2017-01-01-5  KSN

In [24]:
df = pd.read_csv('경상북도월별.csv')
trash = df.columns[1:4]
df = df.drop(columns=trash)
trash2 = df.columns[2]
df = df.drop(columns=trash2)
df['datetime'] = pd.to_datetime(df['datetime']).dt.to_period('M')
df.head()

  datetime  Solar_Power(MWh)
0  2017-01          18266.35
1  2017-02          22631.27
2  2017-03          25549.24
3  2017-04          28396.56
4  2017-05          33896.39

In [25]:
df.to_csv("/Users/admin/OneDrive/Desktop/협업/streamlit/data/경상북도정리.csv", index=False)

In [31]:
data1 = pd.read_csv('합친거.csv')
data2 = pd.read_csv('광주시정리.csv')
data3 = pd.concat([data1,data2])
data3.to_csv("/Users/admin/OneDrive/Desktop/협업/streamlit/data/합친거.csv", index=False)

In [30]:
data3.tail()

   datetime  Solar_Power(MWh) code
70  2022-11           5273.36  KWJ
71  2022-12           3169.11  KWJ
72  2023-01           4562.13  KWJ
73  2023-02           6069.83  KWJ
74  2023-03              0.17  KWJ